.game-board {
    width: 90%;
    max-width: 1200px;
    min-height: 400px;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 160, 221);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    position: relative;
}

.cards-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.loading, .error {
  font-size: calc(.5rem + 1vw);
  font-weight: bold;
  color: rgb(75, 75, 75);
  margin: 50px 0;
}

.error {
  color: rgb(200, 0, 0);
}

.success-message {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(34, 139, 34, 0.9);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: fadeInOut 5s ease;
  z-index: 10;
  margin: 0;
  text-align: center;
  position: absolute;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@media (orientation: portrait) {
    .game-board {
        width: 95%;
        padding: 10px;
    }

    .cards-container {
        gap: 5px;
    }
    
    .success-message {
        font-size: 16px;
        padding: 8px 12px;
    }
}